<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Myprj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>image_upload</display-name>
    <servlet-name>image_upload</servlet-name>
    <servlet-class>image_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image_upload</servlet-name>
    <url-pattern>/image_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details_upload</display-name>
    <servlet-name>details_upload</servlet-name>
    <servlet-class>details_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details_upload</servlet-name>
    <url-pattern>/details_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>image</display-name>
    <servlet-name>image</servlet-name>
    <servlet-class>image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
</web-app>